---
active_tab: alumni
page_header: Alumni
---

<ul class="members">
	<li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/molly_mann.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Molly Mann</h2>
        <h2 class="member-sub-header">Editor, 2013-2015</h2>
         After graduating in June 2014, Lauren promptly moved to Seattle, where she served as an AmeriCorps member at a community garden and continues to involve herself in food justice work. Eventually, she hopes to go back to school to earn a master's degree in landscape architecture. Though her current reality diverges greatly from her research endeavors at UCLA, she credits those experiences with giving her the tools to look at the world through a critical lens. She is thrilled that The URJP still exists as an accessible platform for students to publish their work.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/melissa_avila.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Melissa Avila</h2>
        <h2 class="member-sub-header">Editor, 2013-2014</h2>
         Melissa Avila, an editor during her fifth year, graduated from UCLA in 2014 with a double major in Psychology and Chicano/a Studies and double minors in political science and Labor/workplace studies. Currently, she is applying to graduate school and is close to finishing her 2015 Fulbright English Teaching Assistant fellowship in Costa Rica where she teaches English to low-income children, adolescents, and adults while aiding in therapy sessions and support groups for women in recovery from drug addiction. In the future, she hopes to obtain a PhD in Clinical Psychology and continue her work in Latino mental health, substance abuse,  and acculturation processes. 
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/fabian_alvarez.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Fabian Alvarez</h2>
        <h2 class="member-sub-header">Submissions, 2013-2014</h2>
         Fabian Alvarez was part of URJP the first year it was an official organization on campus and was involved in the submissions team. Currently, he is working as a lab manager for Dr. Shapiro's lab called the Social Interaction and Social Stigma Lab as well as Dr. Brannon's lab called the Culture and Contact Lab. He plans on applying to a PhD program in social psychology next year. 
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/kate_beall.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Katherine Beall</h2>
        <h2 class="member-sub-header">Submissions, 2013-2014</h2>
         Kate Beall was on the submissions team for the 2013-2014 academic school year (the journal's first year). Currently, she lives in New York City and is a Junior Research Scientist at NYU. Specifically, she works at The Center for Latino Adolescent and Family Health (CLAFH), which is a research center at NYU's Silver School of Social Work. 
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/sarah_white.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Sarah White</h2>
        <h2 class="member-sub-header">Editor, 2014-2015</h2>
         Sarah White is earning her PhD in Learning Sciences at Northwestern University, using all that she learned about cognitive science and how to conduct and write about well-structured experiments at UCLA to research how people learn in various contexts.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/jenna_goren.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Jenna Goren</h2>
        <h2 class="member-sub-header">Editor, 2013-2014</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/mary_sau.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Mary Sau</h2>
        <h2 class="member-sub-header">Editor, 2013-2014</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/kelly_chen.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Kelly Chen</h2>
        <h2 class="member-sub-header">Editor, 2013-2015</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/emily_chen.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Emily Chen</h2>
        <h2 class="member-sub-header">Chief of Submissions, 2014-2015 <br> Submissions, 2013-2014</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/crystal_zamora.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Crystal Zamora</h2>
        <h2 class="member-sub-header">Marketing, 2013-2014</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/sydney_cessna.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Sydney Cessna</h2>
        <h2 class="member-sub-header">Chief of Marketing, 2014-2015 <br> Marketing, 2013-2014</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/tyler_jones.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Tyler Jones</h2>
        <h2 class="member-sub-header">Editor, 2014-2015</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/melissa_cabral.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Melissa Cabral</h2>
        <h2 class="member-sub-header">Editor, 2014-2015</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/victor_chavez.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Victor Chavez</h2>
        <h2 class="member-sub-header">Editor, 2014-2015</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/linda_tsan.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Linda Tsan</h2>
        <h2 class="member-sub-header">Editor, 2014-2015</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/patricia_natalie.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Patricia Natalie</h2>
        <h2 class="member-sub-header">Graphics, 2014-2015</h2>
         
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/jake_elder.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Jacob Elder</h2>
        <h2 class="member-sub-header">Editor, 2013-2015</h2>
         
        </div>
    </li>
</ul>