---
active_tab: members
page_header: Members
---

<ul class="members">
    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/alisa_munoz.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Alisa Muñoz</h2>
            <h2 class="member-sub-header">Senior Editor-in-Chief</h2>
            Alisa R. Muñoz is one of the Senior Editors-in-Chief for the Undergraduate Research Journal of Psychology at UCLA. She transferred to UCLA from San Diego Mesa College in 2013, becoming an editor for the URJP during its first year, and one of the Junior Editors-in-Chief its second year. Since 2012, she has been involved as a student researcher at the Green Neuroscience Laboratory in San Diego, California, a non-profit lab that aims to study the brain and its relation to the body, the environment, and society in ways that are sustainable and inclusive. In her position at the GNL, she has had the opportunity to engage in diverse and interdisciplinary research. She has presented and co-authored presentations at international professional-level conferences including the Association for the Scientific Study of Consciousness (ASSC), Society for Neuroscience (SfN), and Society for Autonomous Neurodynamics (SAND) in the areas of clinical psychology, neuropsychology, neuroethics, and creativity and consciousness. In 2014, she became the first recipient of the Tooker Gomberg Greenspiration Award which recognizes students that are involved in research that aim to enhance non-invasive and sustainable approaches that promote autonomy for individuals who have been clinically diagnosed with depression. Currently, she is working with Dr. Gerardo Ramirez at UCLA on a study that assesses the socio-emotional consequences of math course retention prior to college. Alisa’s personal research interests include labelling theory, social stigma, and conceptions of mental health. She will be graduating as a psychology major in June 2016, and in the not-so-immediate future, plans to apply to graduate programs that bridge these interests. In between academic commitments, she spends her time exploring the city and the world with her other half.        
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/vincent_nguyen.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Vincent Nguyen</h2>
            <h2 class="member-sub-header">Senior Editor-in-Chief</h2>
            Vincent Nguyen is a fourth-year psychobiology student from Orange County, CA. Vincent's research interests include mapping the
            neuroanatomy of the brain of patients with various brain disorders. He has also worked in the Department of Molecular Cell Development Biology at UCLA researching the effects of RNAi on the hematopoietic system of D. melanogaster. As a clinic assistant for the Venice Family Clinic, Vincent has worked with underprivileged communities and patients in the Los Angeles area. Currently, Vincent is a UCLA Noyce Scholarship Recipient and has taught kids in the greater Los Angeles area. His aspirations include researching and serving underserved communities in the future. When he is not in class or participating in extracurricular activities, Vincent enjoys playing basketball as well as running.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/jake_gavenas.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jake Gavenas</h2>
            <h2 class="member-sub-header">Junior Editor-in-Chief</h2>
            Jake is Junior Editor in Chief for the Undergraduate Research Journal of Psychology at UCLA. He is a third year student majoring in psychology with accompanying minors in philosophy and mathematics. Currently, Jake is researching the interactions between chronic stress, acute stress, and depression in the Hammen Lab at UCLA. He comes from South Pasadena, California and enjoys playing bass, reading, and listening to music.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/mako_tanaka.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Mako Tanaka</h2>
            <h2 class="member-sub-header">Chief of Marketing</h2>
            As the Chief of Marketing and Finances for URJP, Sophie (Mako) Tanaka is responsible for shaping the journal’s public image and securing funding through writing grants and soliciting donations. Mako is a fourth-year psychology student, and True Bruin Distinguished Senior, who first joined the URJP family as a marketing team member in 2014. Since her recent transfer to UCLA, she has enjoyed many opportunities to grow professionally and indulge her intellectual curiosities. Mako has enjoyed serving as a leadership program coordinator for the Alumni Scholars Club, completing a research project for the Undergraduate Research Scholars Program, and working as a researcher for a “Women in Technology” project via the UCLA Luskin Center for Innovation. Currently, Mako is a recipient of the Undergraduate Research Scholars Program award and is using her scholarship funding to complete a departmental honors thesis. Mako aspires to attend graduate school in psychology, and she is broadly interested in studying applied social psychology within educational and business domains. When she is not deep in school-mode, Mako can be found laughing hard at a youtube video (...or ten) and cuddling with one of her purr-fectly adorable cats!    
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/jasmine_sidhu.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jasmine Sidhu</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jasmine Sidhu is a third-year psychobiology student from Valencia, CA. She does research for Dr. Zili Liu’s perceptual processing and computation lab at UCLA. Her current focus in the lab is studying possible preventative measures for Alzheimer’s patients. Jasmine is also a student researcher for Dr. Jesus Araujo’s lab which studies environmental cardiology and the biology of vascular oxidative stress at UCLA. She is a writer for Total Wellness Magazine, a published review author, and a Care Extender. Jasmine is also an Alumni Scholar, a Wasserman scholar, and a recipient of the Chancellor’s Vice Provost Award. In her spare time, Jasmine loves to  cook, make charcoal drawings, and learn about different cultures.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/sabrin_sidhu.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Sabrin Sidhu</h2>
            <h2 class="member-sub-header">Editor</h2>
            Sabrin Sidhu is a second-year psychobiology student from Valencia, CA and a UCLA Alumni Scholar. She currently does research in Dr. Isaac Yang’s neurosurgery lab at UCLA. She is also interested in Alzheimer’s and is working on a research project with Dr. Zili Liu. Sabrin loves writing and public speaking and she is a writer for Total Wellness Magazine and a state ranked public speaker. In her free time, Sabrin enjoys baking (especially pastries!), reading, and spending time with her family.t   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/jackie_tsao.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jackie Tsao</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jackie Tsao is a fourth-year psychobiology major. She currently does research on pediatric epilepsy and has done research on neuroimaging in the past. Jackie is also interested in studying Alzheimer's disease and neurodegeneration. She hopes to go to medical school and eventually become a neurologist. In her spare time, Jackie enjoys sewing, hiking, and gardening.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/christopher_bondoc.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Christopher Bondoc</h2>
            <h2 class="member-sub-header">Editor</h2>
            Christopher is a fourth-year Psychology major who hopes to eventually pursue a Ph.D. in Clinical Psychology. He currently works as a research assistant in the Enhancing Anxiety Research Lab. Christopher is originally from Walnut, California and attended both Fullerton College and Cypress College simultaneously before transferring to UCLA. Outside of school and the journal, he spends his time volunteering and competing with UCLA Powerlifting. In the past he’s been involved with USAC, dance teams, drumline, and more.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/cindy_xiong.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Cindy Xiong</h2>
            <h2 class="member-sub-header">Editor</h2>
            Cindy Xiong is a (finally) graduating Bruin majoring in Psychology and Applied Math with a minor in Environmental Engineering. Though suffering through the process of applying to graduate school, Cindy is excited to be on board the Journal this year. Her main research interest lies in exploring the applications of Bayesian statistics in the realm of human vision and cognition, and machine learning. She likes coconuts, napping, and snuggling in bed with blankets and pillows.    
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/melissa_maccarini.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Melissa Maccarini</h2>
            <h2 class="member-sub-header">Editor</h2>
            Melissa Maccarini is a second year psychology major from Miami, Florida. She plans on pursuing a Ph.D. in clinical psychology and opening her own clinic to treat patients. Melissa is currently initiating her training as a research assistant under a research coordinator in the Anxiety Lab and hopes to find more labs to work in. When she is not studying and doing schoolwork, she enjoys watching Netflix, reading and writing.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/julia_yi.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Julia Yi</h2>
            <h2 class="member-sub-header">Editor</h2>
            Julia is a fourth year transfer student at UCLA planning on graduating this year with a B.A. in Psychology. She is a research assistant in Professor Juvonen's lab that is studying how peer interactions in middle schools and high schools affect the development and adaptive functioning of youth. Julia is working on her own research focusing on the effects of familiarity and self-disclosure on the phenomenon of cyber-bystanding.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/carter_bedford.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Carter Bedford</h2>
            <h2 class="member-sub-header">Editor</h2>
            Carter Bedford is a third year psychology major from the mountains of Park City, Utah. When she is not helping others with their publications, Carter is involved in the Psychology of Social Justice lab at UCLA, where she researches the role of law enforcement in the lives of at-risk adolescents around the United States. Her other research interests include human sexuality, stigma, aggression, and power dynamics. Following graduation, Carter hopes to obtain a Ph.D in Social Psychology, publish her work, and perhaps teach a new generation of psychology students how to conduct groundbreaking research of their own.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/melissa_walman.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Melissa Walman</h2>
            <h2 class="member-sub-header">Editor</h2>
            Melissa Walman is a junior and transfer student from College of the Canyons. She is a psychology major and along with being an editor for the URJP, she is also a member of the Mental Health Initiative Club where they work on informing children of mental health issues through the usage of fun presentations. She is a research assistant for the Castel Memory and Lifespan Cognition Lab and a member of the Bjork Learning and Forgetting Lab. She is particularly interested in how certain cognitions and mindsets can impact our lives. She wants to pursue a PhD in Clinical Psychology and aspires to be a psychologist one day. When Melissa is not busy with school, she loves to spend time with her loved ones.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/lucy_cui.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Lucy Cui</h2>
            <h2 class="member-sub-header">Editor</h2>
            Lucy Cui is a third-year Psychology major, minoring in Statistics. If time allows, she plans on minoring in Anthropology as well. Lucy has broad experience in research: having worked at a national lab for three summers, a neuroscience lab, and two psychology labs during her undergraduate career thus far. Her most enjoyable research experience has been with the Teaching and Learning Lab, with whom she is currently preparing materials for her independent research project on learning in statistics for winter quarter. She aims to help students distinguish between the contexts in which to use different hypothesis tests.  She understands that most students struggle with the abstractness of statistics and hopes to improve students' learning experience (enjoyability, motivation, etc.) through the incorporation of more familiar problem contexts (e.g., social media). After undergraduate, Lucy plans on getting her PhD in psychology and aspires to become a professor and researcher. Outside of academics, Lucy enjoys working on her own personal projects. Her most recent project is regarding helping college students maintain school-life balance, lower stress and anxiety about coursework, and remind them of the importance of self-love, mental and physical health, and confidence through journaling. She has designed a planner (Uni Planner) for this purpose.    
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/cheryl_li.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Cheryl Li</h2>
            <h2 class="member-sub-header">Editor</h2>
            Cheryl is currently a senior who is working on completing her B.Sc in Psychobiology this year. She's currently involved in both the UCLA Aftercare center working on Data Entry and Analytics with Dr. Subotnik, and in the Semel Institute for Neuroscience with Dr. Hunter and Dr. Leuchter analyzing EEG Data in patients with MDD. She hopes to pursue a career in Developmental Psychology, with a focus in Music Therapy. In her free time, she enjoys playing the piano and going rock climbing.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/hannah_niederman.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Hannah Niederman</h2>
            <h2 class="member-sub-header">Editor</h2>
            Hannah is a third year psychology major. Coming from the home of Coachella, the hot desert of Palm Springs, she is excited to have the opportunity to be a part of the Undergraduate Research Journal of Psychology for her second year in a row. She is involved in a culture and emotion lab on campus. She hopes to minor in applied developmental psychology because she plans on becoming a child psychologist who partakes in both research and clinical child psychology. She is a member of Alpha Delta Pi sorority who loves to read any and all books, watch Netflix, play softball and spend time with her family and friends.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/not_pictured.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Qinglin Bian</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Qinglin (Nicole) Bian is a junior psychology major from China. She is fascinated by how our brain affects our behaviors and hopes to become a clinical psychologist after graduation. Her research interests are mainly about how genes and living environments induce certain problems, such as the Obsessive-Compulsive Disorder. Her current research topics involve examining a male genetic disease which undermines executive functions with a mice model and the effects of a dual-language environment on high school students' SAT Reasoning performance. She is very excited to be a part of our psychology journal and to become more engaged in scientific research. When she is not studying or working, she likes painting, reading, watching movies, and hanging out with her family and friends.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/melanie_tran.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Melanie Tran</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Melanie Tran is a third year Psychology major and English minor at UCLA. She aids with cognitive behavioral therapy, data management, and assessments in Dr. Jeffrey Wood’s lab, which studies evidence-based interventions for the reduction of autism symptoms in children with high-functioning autism. Melanie also volunteers in the UCLA Aftercare Research lab where she administers cognitive tests with patients affected by schizophrenia. This year she is part of the executive board of Psi Chi, the International Honor Society in Psychology. Her career goal is to earn a PhD in clinical psychology, so she can help treat adolescents with psychopathology. Her dream is to develop and implement an mental health education program for grade schools in the Los Angeles area, to increase awareness, decrease the stigma around mental illness, and provide young people with the tools to keep themselves mentally and emotionally healthy. When she is not involved in psychology-related extracurriculars, Melanie is a Resident Assistant in the dorms, and enjoys long talks over tea and longboarding with friends.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/shannon_roux.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Shannon Roux</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Shannon is a second year Psychology major and Neuroscience minor, hoping to attend a PHD program and eventually pursue a research career. She is interested in anxiety and other stress-related disorders in young children. She is starting her second year working for the CARE anxiety and stress disorder lab. She is also involved in a musical theatre company and enjoys hiking, camping, and city exploring in her free time.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/cynthia_garcia.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Cynthia Garcia</h2>
            <h2 class="member-sub-header">Marketing &amp; Finance</h2>
            Cynthia Garcia is a third year Psychology major, Applied Developmental Psychology minor from Long Beach, California. In addition to her involvement in the journal, Cynthia is a research assistant for the UCLA Baby Lab and UCLA Language and Cognitive Development Lab. As a research assistant she examined how language background of infants influence their visual attention and their awareness to pragmatic cues when shown novel objects. As a former PROPS student, she conducted an independent research project investigating how prior noun knowledge and bilingualism affect word learning in infant’s. Her research interests involve language development in infants, particularly bilinguals, and the impacts it has for later development. Cynthia ultimately aims to obtain a Ph.D. in Developmental Psychology and become a professor in the world of academia to educate and inform others how to promote development in children. When she is not in class or participating in extracurricular activities, you can find her spending time with family and friends.    
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/amy_aldana.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Amy Aldana</h2>
            <h2 class="member-sub-header">Marketing &amp; Finance</h2>
            Amy Aldana is a transfer fourth year Honors Psychology major from Orange County, California. She has been a research assistant for three quarters at the Middle and High School Diversity Project under Dr. Jaana Juvonen in the Psychology Department and Dr. Sandra Graham in the Education Department. She is currently conducting independent research with Dr. Juvonen which examines the etiology of internalized oppression among minority students in middle school. Over the summer of 2015, she completed a paid research internship at the University of California, Irvine. Her summer research was a qualitative study investigating the reasons Latina undergraduates are driven to pursue a doctoral degree. Her passion lies in improving our education system and serving underprivileged communities. Her volunteer work includes mentoring and tutoring at-risk youth, coaching basketball for intellectually and developmentally disabled adolescents, serving hot meals to the homeless community, and teaching neuroscience to k-12 students in disadvantaged areas of Los Angeles. Her leadership experience involving marketing and finance expands from being an agent’s assistant at Best Buy Real Estate, Vice President of Recruitment for Phi Theta Kappa International Honors Society, and serving as Chair for the Planning and Research Committee during her service as Senator in Associated Student Government.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/simran_brar.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Simran Brar</h2>
            <h2 class="member-sub-header">Marketing &amp; Finance</h2>
            Simran Brar is a 3rd year Psychobiology major with a minor in Global Studies. She enjoys learning about behavior and hopes to become a research assistant in a psychology lab. Simran is involved in Habitat for Humanity and Project BRITE, where she mentors incarcerated high school students. Her hobbies include working out, exploring LA, listening to music, and doing anything spontaneous and fun with her friends.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/cris_garduno.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Cristopher Garduño</h2>
            <h2 class="member-sub-header">Webmaster</h2>
            Cris is a senior in the undergraduate neuroscience program and transfer student from Irvine Valley College. He is part of the Neurovascular Imaging Research Core in the Department of Neurology at UCLA, where he works on medical image processing. He plans to pursue a PhD in neuroscience or a related field and conduct research on neurodevelopmental and neurodegenerative disorders, as well as neuroeconomics. In his spare time he likes to discuss philosophy, life, and the cosmos.    
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/haesoo_kim.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Haesoo Kim</h2>
            <h2 class="member-sub-header">Webmaster <br> Photographer</h2>
            Haesoo Kim is a second year Psychobiology major hoping to pursue a Specialization in Computing or a Cognitive Science minor. She is a Writing and Creativity Counselor at the Writing Success Program at UCLA, serves as the Publicity Chair and Historian for Flying Samaritans at UCLA, and works in the layout staff for BruinLife Yearbook. Apart from learning about the mind and neurosystem, she loves traveling and also enjoys design, photography, and writing.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/not_pictured.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Ingrid Channa</h2>
            <h2 class="member-sub-header">Graphics</h2>
            Ingrid Channa is a second-year Psychobiology major aiming for an Applied Developmental Psychology minor or Specialization in Computing. From Rancho Cucamonga, CA, she is an aspiring pediatrician hoping to serve the underserved whose current interest lies in both neurodegenerative diseases and neurodevelopmental disorders. She currently serves as a work-study Lab Assistant in the Carmichael Lab, Family Head for Asian Pacific Health Corps, and Care Extender Intern at the Ronald Reagan/Santa Monica Hospital. In addition, Ingrid is involved in Circle K International and Thai Smakom, participating in their annual Thai Culture Night. In her free time, she enjoys tennis, freelance graphic design, crafts, and reading/writing.   
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/naomi_kline.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Naomi Kline</h2>
            <h2 class="member-sub-header">Graphics</h2>
            Naomi Kline is a second year psychology major from northern San Diego county. She is fascinated by several areas of study, including language development and the psychological mechanisms involved in decision making, with an additional interest in computer science. Naomi plans to minor in cognitive science and is considering the specialization in computing offered by the UCLA psychology department. In addition to her academic interests, Naomi has a passion for graphic design and is very excited to be a part of the Undergraduate Research Journal of Psychology's graphics team. Naomi is also involved in Cru at UCLA and enjoys playing field hockey in her free time.   
        </div>
    </li>

    
</ul>

<!--Google Analytics Tracking-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59288236-2', 'auto');
  ga('send', 'pageview');

</script>
